#mainContent{
    overflow-y: auto;
    max-height: 100%;
}

.bg-black-1{
    background-color: #1c1c1c !important;
}

.btn:focus{
    outline: none !important;
    box-shadow: none !important;
}

#sideBar{
    max-height: 100%;
}

.scrollDown{
    overflow-y: scroll;
    overflow-x: hidden;
}

.nav-pills{
    flex-wrap: nowrap;
}

.nav-pills .nav-link{
    color: #fff;
    text-align: left;
}

.nav-pills .nav-link.active{
    background-color: #1c1c1c ;
    text-align: left;
}

.darkScroll::-webkit-scrollbar{
    appearance: none;
}

.darkScroll::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.0);
}

.darkScroll::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.4);
}

.darkScroll::-webkit-scrollbar-corner{
    background-color: rgba(0, 0, 0, 0.1);
}

#logoSvg{
    width: 100px;
}

/* Example cell */

.example-cell.xs{
    min-width: fit-content !important;
}

.example-cell.small{
    min-width: 60px !important;
}

.example-cell{
    width: fit-content !important;
    min-width: 120px;
    height: 30px;
    background-color: #212529;
    color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    padding: 1px 3px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #888888;
}

tr td:first-of-type{
    font-weight: 900;
    font-size: 1.1rem;
    border-right: 1px solid rgba(33, 37, 41, 0.2);
}

tr td:last-of-type{
    border-left: 1px solid rgba(33, 37, 41, 0.2);
}

@media only screen and (max-width: 768px) {

    #mainBox{
        height: fit-content !important;
    }

    #sideBar{
        overflow-y: hidden;
        height: fit-content !important;
        max-height: 100vh;
    }

    #logoSvg{
        width: 64px;
    }

    #navCollapse{
        max-height: 100vh;
    }

    #mainContent{
        background-color: #1c1c1c !important;
        color: #fff !important;
    }
}

@media only screen and (max-width: 576px) {

    .customTable .row  .col-12:first-of-type{
        border-right: none !important;
    }
    
    .customTable .row  .col-12:last-of-type{
        border-left: none !important;
    }


}

@media only screen and (max-width: 390px){
    .icon-right-bold{
        transform: rotateZ(90deg) !important;
    }

    .icon-right-box{
        width: 100% !important;
    }
}


/* Custom Tables */
.customTable .row{
    border-bottom: 1px solid #888888;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #212529;
}



.customTable .row:nth-of-type(even){
    background-color: #292e33 !important;
}

.customTable .row  .col-12:first-of-type{
    border-right: 1px solid #888888;
}

.customTable .row  .col-12:last-of-type{
    border-left: 1px solid #888888;
}

/* EXAMPLES */

#example-cursor{
    min-height: 70px;
    background-color: #888888;
}

#example-cursor:hover{
    cursor: cell !important;
}


.cell-popover{
    position: absolute;
    z-index: 7;
    border: 0;
    width: fit-content;
    padding: 0;
    margin: 0;
    font-size: 19px;
    background-color:transparent;
    width: 10px;
    height: 10px;
    text-decoration: none;
    border-radius: 0 0 0 10px;
    right: 0;
    top: 0;
}

.color-example{
    display: inline-block;
    width: 17px;
    height: 17px;
}

.example-cell-table{
    border:1px solid #575757;
}