/* NESTED DROPDOWN FROM https://mdbootstrap.com/docs/standard/extended/dropdown-multilevel/*/
.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}


#mainContent{
    position: relative;
    z-index: 1;
}
/* Body colors & Page Sizing */
body{
    background-color: #000000;
    height: 100vh;
    overflow: hidden;
}

.z-5{
    z-index: 5;
}

.z-7{
    z-index: 7;
}

.z-10{
    z-index: 10 ;
}


.fill{
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 100%;
    max-height: 100%;
    position: relative;
    overflow-y: auto;
    box-sizing: border-box;
    transition: width .3s ease-in-out;
}

.hidden{
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    position: absolute !important;
    overflow: hidden !important;
    visibility: hidden !important;
}

/* ScrollBars Styling & Behavior*/

.offcanvas-body::-webkit-scrollbar,.dark-scroll::-webkit-scrollbar{
    appearance: none;
    scroll-behavior: smooth;
    background-color: rgba(0, 0, 0, 0.2);
}

.dark-scroll.withBtn::-webkit-scrollbar-button{
    background-color: rgba(255, 255, 255, 0.1);
}

.offcanvas-body::-webkit-scrollbar-track,.dark-scroll::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.2);
    
}

.offcanvas-body::-webkit-scrollbar-thumb,.dark-scroll::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.4);
}

.offcanvas-body::-webkit-scrollbar-corner,.dark-scroll::-webkit-scrollbar-corner{
    background-color: rgba(0, 0, 0, 0.1);
}

.hideScroll{
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

.horizontal-scroll{
    overflow-x: auto;
    scroll-behavior: smooth;
}

.horizontal-scroll.hideScroll::-webkit-scrollbar{
    appearance: none;
    display: none;
    height: 0px;
}

.horizontal-scroll.hideScroll::-webkit-scrollbar-thumb{
    display: none;
}

.horizontal-scroll.hideScroll::-webkit-scrollbar-button{
    display: none;
}

/* MAIN COLORS */
.bg-black-1{
    background-color: #1c1c1c !important;
}

/*bg.black-1 in inputs*/

button.bg-black-1, input[type="text"].bg-black-1,input[type="button"].bg-black-1{
    color: #cbcbcb;
    transition: all .2s ease-in-out;
}

.bg-black-1.hover-effect:hover, button.bg-black-1:hover, input[type="text"].bg-black-1:hover, input[type="button"].bg-black-1:hover{
    color: #ffffff;
    background-color: #0f0f0f !important;
}



/* Compontent .input-icon */
span.input-icon, .input-icon span{
    transition: all .3s ease-in-out;
    color: #b8b8b8;
}

span.input-icon:hover, .input-icon:hover span{
    filter: drop-shadow(0px 0px 5px #ffffff) !important;
    color: #ffffff;
}

span.input-icon:active, .input-icon:active span{
    transition: all .1s ease-in-out;
    color: rgb(102, 102, 102);
    filter: drop-shadow(3px 3px 6px #4e4e4e) !important;
}


.input-icon input:checked + .form-check-label span{
    transition: all .1s ease-in-out;
    color: #ffe3ae;
    filter: drop-shadow(0px 0px 1px #000000) !important;
}

.input-icon.active span{
    color: #fff !important;
    filter: drop-shadow(0px 0px 5px #ffffff) !important;
}

/* Compontent .collapse-pivot */
.collapse-pivot{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.collapse-pined{
    position: relative;
    /* top: 0;
    left: 0; */
    z-index: 15;
}

/* Component Error-clue */


/* CellPopover */
.cell-popover{
    position: absolute;
    z-index: 7;
    border: 0;
    width: fit-content;
    padding: 0;
    margin: 0;
    font-size: 19px;
    background-color:transparent;
    width: 10px;
    height: 10px;
    text-decoration: none;
    border-radius: 0 0 0 10px;
}

.error-popover{
    z-index: 8;
}



/* Component .sheet-switch-btn */
.sheet-switch-btn{
    margin-right: 6px;
    position: relative;
    display: block;
    min-width: fit-content;
    border-radius: 5px;
    overflow: hidden;
}

.sheet-switch-btn input, .sheet-switch-btn input:focus{
    border: none;
    outline: none;
}

.sheet-switch-btn input[type="text"]::placeholder{
    color: #fff;
}

.sheet-switch-btn input[type="text"]{
    position: relative;
    z-index: 2;
    text-align: center;
    width: 120px;
    font-size: .9rem;
    height: 100%;
    background-color: #4e4e4e;
    color: #fff;
}

.sheet-switch-btn input[type="radio"]{
    appearance: none;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #000000;
    z-index: 3;
    opacity: .5;
}

.sheet-switch-btn input[type="radio"]:checked{
    height: 0 !important;
}


/* Style by Section */

/* TOOLBAR */
#tools-bar label{
    text-wrap: nowrap;
    word-break: keep-all;
}


#tools-bar button{
    text-wrap: nowrap;
    word-break: keep-all;
}

/* Canvas */
#mainCanvas{
    z-index: 1;
    background-color: transparent;
}
/* WIDGETS STYLING */


/* Functions List */
#mathFunctions-container{
    background-color: #7577976d;
    z-index: 9;
    max-height: 30vh;
    overflow-y: scroll;
    padding: 3px;
    color:#5863ffaa ;
}

.btn-add-function{
    font-weight: 700;
    color: #fff;
}

/* CellInput */
#cellInput{
    z-index: 6;
    background-color: #1b2026;
    outline: 0;
    border: 1px solid white;
    color: #fff;
}

#cellInput:focus{
    border: 1px solid rgb(148, 148, 148);
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: outline_Animated;
}

#cellData-cords{
    min-width: 40px;
}

.cursor-addCell{
    cursor: cell !important;
}


input[type="file"]{
    min-width: 150px !important;
}

@keyframes  outline_Animated{
    0%{
        -webkit-box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.7);
        -moz-box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.7);
        box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.7);
    }
    50%{
        -webkit-box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.4);
        -moz-box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.4);
        box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.4);
    }
    100%{
        -webkit-box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.7);
        -moz-box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.7);
        box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.7);
    }
}


.navbar-brand img{
    transition: transform .3s ease-in-out;
}

.navbar-brand:hover img{
    transform: rotate(10deg);
}

#contextMenu{
    height: fit-content;
    max-height: 0;
    overflow: hidden;
}

#contextMenu.show{
    max-height: 60vh !important;
}


/* Dynamic Page */
#dynamic-page{
    height: 100%;
    width: 100%;
    background-color: #ffe3ae;
}

#dynamic-page-frame{
    min-height: 100%;
    height: fit-content;
}
 
#dynamic-page .offcanvas-body{
    overflow-y: hidden;
}

#tutorialMSG{
    max-width: 30vw;
    left: calc(50% - 15vw);
    top: 30%;
}

#tutorialMSG-content{
    margin-top: 6px;
    font-weight: 500;
    font-size: .9rem;
    text-align: left;
}